// 媒体查询

//定义基础字体大小
$base_font: 25;

//定义分成多少等份
$servings: 15;

//定义媒体查询屏幕尺寸
$screen_width: (320px, 360px, 375px, 384px, 400px, 411px, 414px, 424px, 480px, 540px, 720px, 750px, 768px, 1024px);


// 工具

//定义字体大小
$fs: (
  fs-12: .48rem,
  fs-13: 0.52rem,
  fs-14: 0.56rem,
  fs-15: 0.6rem,
  fs-16: 0.64rem,
  fs-17: 0.68rem,
  fs-18: 0.72rem,
  fs-20: 0.8rem,
);